/* .game-card {
  width: 180px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  background-color: #e24040;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.game-card__cover {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.game-card__title {
  font-size: 16px;
  padding: 10px;
} */


/* //////////////////////// */

/* Container voor alle kaarten */
.game-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

/* Stijl voor elke kaart */
.game-card {
  width: 180px; /* of 20%, afhankelijk van stijlvoorkeur */
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  background-color: #236e8b;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.game-card__cover {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.game-card__title {
  font-size: 16px;
  padding: 10px;
}